.PartnerUpdate {


  .MyTable {
    // border: 1px solid red;

    input {
      width: 100%;
    }

    td {
      width: 80%;
      // border: 1px solid red;

    }

    label {
      width: 100%;
      // border: 1px solid red;

    }

    textarea {
      // transition: all ease-in-out 0.1s;
    }
  }








  
}