.Accounts {


  .tr {
    cursor: pointer;
  }


  .Pagination {
    margin: 1rem;
    margin-bottom: 0;
  }

  .tableBotton {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .center {
    text-align: center;
  }





  
}