.TableMultiselect {


  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    // border: 1px red solid;

    .inputStyles {
      margin-left: 0;
      margin-right: 0;
    }

    .MyInput {
      padding: 0;
    }
  }


  
}