.ShopDetails {



  .flexInputsWrap {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    width: 100%;
    // max-width: 850px;
  }

  .flexInputs {
    padding-right: 3rem;
  }

  // .flexMultiInputs {
  //   display: flex;
  //   flex-wrap: wrap;
  //   max-width: 800px;
  // }

  .DivTableTDcls {
    margin-top: 0.8rem;
    margin-bottom: 0.9rem;
  }

  .DivTableTHcls {
    min-width: 132px;
  }






  
}